<div class="todo-main">
  <div class="heading">
    <h1>TODO Board</h1>
  </div>
  <div class="filter-section">
    <button mat-raised-button color="primary" (click)="openCreateDialog()">ADD</button>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select>
        <mat-option value="all">All</mat-option>
        <mat-option value="todo">TODO</mat-option>
        <mat-option value="in progress">In Progress</mat-option>
        <mat-option value="done">Done</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="todo-list">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title | titlecase}} </td>
      </ng-container>
    
      <ng-container matColumnDef="discription">
        <th mat-header-cell *matHeaderCellDef> Discription </th>
        <td mat-cell *matCellDef="let element"> {{element.discription | titlecase}} </td>
      </ng-container>
    
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
         <mat-icon (click)="deleteRow(element)">delete</mat-icon>
        </td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>